html, body {
    margin: 0;
    padding: 0;
}

ul {
    display: inline-block;
}

hr {
    border: 1px solid #ccc;
}

.container {
    background-color: #eee;
}

.arrow-holder {
    cursor: pointer;
}

.icon-holder {
    display: inline-block;
    margin-right: 2%;
}

/**** search component ****/
.search-component {}
.search-component .input-holder {
    margin-bottom: 2%;
}
.search-component .view-type-holder {
    margin-bottom: 4%;
}

/**** search results ****/
.search-results-component {}
.search-results-component .title {
    margin-bottom: 2%;
}

.search-results-list-holder {}
.search-results-list-holder .result-item {
    text-decoration: underline;
    cursor: pointer;
}

.search-results-grid-holder {

}

.search-results-grid-holder .result-item {
    padding: 2%;
    min-height: 160px;
    height: 100%;
    background-color: #ccc;
    border: 1px solid #222222;
    box-sizing: border-box;
    list-style-type: none;
    cursor: pointer;
}

.search-results-grid-holder .result-item img {
    width: 100%;
    height: 100%;
}

.search-component .actions-holder {
    text-align: right;
}
.search-component .arrow-holder {
    display: inline-block;
}