<div class="search-results-grid-holder">
    <ul>
        <li class="result-item col-xs-6" ng-repeat="track in vm.trackList" ng-click="vm.handleDirTrackClick(track)">
            <img ng-if="track.artwork_url" ng-src="{{track.artwork_url}}" />
            <div ng-if="track.artwork_url == null">{{track.title}}</div>
        </li>
    </ul>
</div>