<div id="search-results-component" class="search-results-component">
    <div class="title">Search results:</div>

    <div ng-if="vm.viewType =='list'" ng-include="'js/soundcloud/search-results/search-results-list.html'"></div>
    <div ng-if="vm.viewType =='grid'" ng-include="'js/soundcloud/search-results/search-results-grid.html'"></div>
</div>