<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- main -->
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body ng-app="app" ng-controller="SCController as vm" ng-cloak>
    <div id="app-container" class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="search-component">
                    <div class="input-holder">
                        <input ng-model="vm.query" type="text" placeholder="Search..." />
                        <button class="btn btn-primary" ng-click="vm.doSearch(true);">Search</button>
                    </div>

                    <div class="view-type-holder">
                        <div class="icon-holder" ng-click="vm.setViewType('list');"><i class="fa fa-list-ul fa-2x" aria-hidden="true"></i></div>
                        <div class="icon-holder" ng-click="vm.setViewType('grid');"><i class="fa fa-th fa-2x" aria-hidden="true"></i></i></div>
                    </div>

                    <div class="search-results-holder">
                        <search-results track-list="vm.trackList" view-type="vm.viewType" handle-track-click="vm.handleTrackClick"></search-results>
                    </div>

                    <hr />

                    <div class="pagination-holder">
                        <div class="actions-holder">
                            <div ng-if="vm.currentPage > 1" class="arrow-holder" ng-click="vm.handlePrevPageClick();">
                                <i class="fa fa-arrow-left fa-2x" aria-hidden="true"></i>
                            </div>
                            <div ng-if="vm.nextPageQuery" class="arrow-holder" ng-click="vm.handleNextPageClick();">
                                <i class="fa fa-arrow-right fa-2x" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="sc-component">
                    <!--<div class="sc-art-container">-->
                        <!--<div class="sc-art"><img ng-src="{{vm.artworkUrl}}" /></div>-->
                    <!--</div>-->

                    <div class="sc-player-container">
                        <iframe id="sc-iframe" class="iframe" src="" width="100%" height="auto" scrolling="no" frameborder="no"></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>



    <!-- angular, jquery, bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- soundcloud -->
    <script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
    <script src="https://w.soundcloud.com/player/api.js"></script>

    <!-- main -->
    <script src="js/app.module.js"></script>
    <script src="js/soundcloud/soundcloud.module.js"></script>
    <script src="js/soundcloud/soundcloud.service.js"></script>
    <script src="js/soundcloud/soundcloud.controller.js"></script>
    <script src="js/soundcloud/search-results/search-results.directive.js"></script>
  </body>
</html>
